.header-container {
    width: 100%;
    height: 60px;
    background-color: rgba(128, 0, 255, 0.9);
    z-index: 1;
}



.clearfix::after {
    content: “”;
    display: block;
    clear: both;
}

h1 {
    display: inline-block;
    margin-top: 0;
    background-image: linear-gradient(rgba(49, 31, 61, .9), rgba(133, 133, 133, .1));
    width: 35%;
    padding: 20px 10px 20px 20%;
    border-radius: 0px 180px 180px 0px;
    box-shadow: 5px 5px 5px 0px 0.1 #888888;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

html {
    margin: 0;
    display: block;
    position: relative; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
}

html::after {
    content: "";
    background: url("abstract-astro-astronomy-956999.jpg") no-repeat center center fixed;
    opacity: .5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.primary-container {
    position: relative;
    height: 100%;
    margin-top: 0;
}

.about-me-container {
    position: absolute;
    left: 0;
    top: 13%;
    width: 55%;
    min-width: 45%;
    height: 22%;
    background-color: rgba(114, 0, 143, 0.8);
    box-shadow: 5px 3px 3px #f5bff7;
    border-radius: 0px 180px 180px 0px;
}
.about-me-container:hover .about-me-text {
    color: rgb(114, 114, 114);
    transition: .05s ease;
}
.about-me-container:hover {
    background-color: rgba(114, 0, 143, 0.9);
    transition: .2s ease;
}

.about-me-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: rgb(107, 107, 107);
    position: absolute;
    right: 15%;
    top: 20px;
    width: 45%;
    height: auto;
}



.name-image-container {
    padding-top: 2%;
    position: relative;
    height: 1000px;
    width: 20%;
    left: 20px;
    background-image: linear-gradient(rgba(133, 133, 133, 0.8), rgba(0, 0, 0, 0.5));
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border-radius: 220px 220px 0px 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

div.name-image-container>img.personal-photo {
    position: absolute;
    left: 22px;
    width: 90%;
    box-shadow: 3px 3px 3px #383838;
    opacity: .90;
    border-radius: 50%;
}

/* Header Work */


.external-page-links {
    float: right;
    padding: 10px 25px 25px 25px;
    margin-right: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0px 0px 33.33% 33.33%;
    background-color: white;
}

.header-link {
    width: 60px;
    height: 20px;
    background: silver;
    border-radius: 5px;
    padding: 1px 3px;
    box-shadow: 1px 1px 1px #000;
    display: block;
    text-align: center;
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    font-family: arial;
    font-size: 12px;
    line-height:20px;
}


.contact-info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    float: right;
    text-align: center;
    margin-top: 0;
    margin-right: 0px;
    background-image: linear-gradient(rgba(248, 255, 183, 0.5), rgba(255, 229, 158, 0.5));
    width: 300px;
    min-height: 50px;
    max-height: 1000px;
    height: 90%;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 2px 2px 2px rgb(113, 117, 90);
}

.contact-hover {
    position: absolute;
    right: 0;
    top: 50px;
    overflow: hidden;
    width: 0;
    height: 100%;
    background-color: rgb(152, 163, 91);
    box-shadow: 2px 2px 2px rgb(113, 117, 90);
    border-radius: 15px 0px 0px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.contact-info:hover {
    height: 100px;
    transition: .1s ease;
}
.contact-info:hover .contact-hover {
    width: 100%;
    transition: .1s ease;
}

