html {
    margin: 0;
    display: block;
    position: relative; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
}

html::after {
    content: "";
    background: url("abstract-astro-astronomy-956999.jpg") no-repeat center center fixed;
    opacity: .5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

body {
    font-family: 'Cardo', serif;
    height: 100%;   
   }
   
   h1, h2, h3, h4, h5, h6, p, button, li, ul {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }
   
.header-container {
    width: 100%;
    height: 60px;
    background-color: rgba(128, 0, 255, 0.9);
    z-index: 1;
}

.clearfix::after {
    content: “”;
    display: block;
    clear: both;
}

h1 {
    display: inline-block;
    margin-top: 0;
    background-image: linear-gradient(to bottom right, rgba(53, 28, 70, 0.8), rgba(161, 158, 158, 0.01));
    width: 33%;
    padding: 20px 300px 20px 20%;
    border-radius: 0px 0px 160px 0px;
    box-shadow: 5px 5px 5px 0px 0.1 #888888;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.external-page-links {
    float: right;
    padding: 10px 25px 25px 25px;
    margin-right: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0px 0px 33.33% 33.33%;
    background-color: white;
}

.header-link {
    width: 60px;
    height: 20px;
    background: silver;
    border-radius: 5px;
    padding: 1px 3px;
    box-shadow: 1px 1px 1px #000;
    display: block;
    text-align: center;
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    font-family: arial;
    font-size: 12px;
    line-height:20px;
}

.nav-color {
    background-image: linear-gradient(to right, rgba(110, 35, 35, 0.4), rgba(36, 45, 130, 0.5));
}
/* End Top */
.primary-container {
    position: relative;
    height: 100%;
    margin-top: 0;
}

.about-me-container {
    position: absolute;
    left: 0;
    top: 12%;
    width: 55%;
    min-width: 45%;
    height: 22%;
    background-color: rgba(114, 0, 143, 0.8);
    box-shadow: 2px 2px 2px #f5bff7;
    border-radius: 0px 180px 180px 0px;

}

.about-me-container2 {
    position: absolute;
    left: 0;
    top: 36%;
    width: 45%;
    min-width: 45%;
    height: 18%;
    background-color: rgba(114, 0, 143, 0.8);
    box-shadow: 2px 2px 2px #f5bff7;
    border-radius: 0px 180px 180px 0px;
}

.about-me-container:hover .about-me-text {
    color: rgb(223, 223, 223);
    transition: .05s ease;
}
.about-me-container:hover {
    background-color: rgba(114, 0, 143, 0.9);
    transition: .2s ease;
}

.about-me-container2:hover {
    background-color: rgba(114, 0, 143, 0.9);
    transition: .2s ease;
}

.about-me-text {
    content: auto;
    padding-right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90%;
    color: rgb(158, 158, 158);
    position: relative;
    left: 50%;
    top: 20px;
    width: 45%;
    height: auto;

}

/* End purple Text Bar */

.name-image-container {
    padding-top: 2%;
    position: relative;
    height: 1000px;
    width: 20%;
    left: 20px;
    background-image: linear-gradient(rgba(133, 133, 133, 0.8), rgba(0, 0, 0, 0.5));
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px, 100%;
    font-weight: bold;
    letter-spacing: 2px;
    min-width: text;
    border-radius: 220px 220px 0px 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

div.name-image-container>img.personal-photo {
    position: absolute;
    left: 5%;
    min-width: 70%;
    width: 90%;
    min-height: 10%;
    height: 23%;
    box-shadow: 3px 3px 3px #383838;
    opacity: .90;
    top: 11%;
    border-radius: 50%;
}

/* Contact Info */

.contact-info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    float: right;
    text-align: center;
    padding: 5px 0 2px 0;
    margin-top: 0;
    margin-right: 0px;
    background-image: linear-gradient(to right, rgba(110, 35, 35, 0.4), rgba(36, 45, 130, 0.5));
        width: 300px;
    min-height: 50px;
    max-height: 1000px;
    height: 90%;
    border-style: ridge;
    border-color: white;
    border-width: 1px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 2px 2px 2px rgb(113, 117, 90);
    font-display: hidden;
    transition: .3s ease;
}

.contact-hover {
    padding-top: 8px;
    margin-top: 3px;
    position: absolute;
    border-style: ridge;
    border-color: white;
    border-width: 1px;
    right: 0;
    top: 50px;
    overflow: hidden;
    width: 0px;
    min-height: 100px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(110, 35, 35, 0.4), rgba(36, 45, 130, 0.5));
    box-shadow: 2px 2px 2px rgb(113, 117, 90);
    border-radius: 15px 0px 0px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    transition: .3s ease;
   
}

.contact-info:hover {
    background-image: linear-gradient(to right, rgba(110, 35, 35, 0.6), rgba(36, 45, 130, 0.7));
    text-shadow:
    -1px -1px 0 rgb(189, 189, 189),
    1px -1px 0 rgb(189, 189, 189),
    -1px 1px 0 rgb(189, 189, 189),
    1px 1px 0 rgb(189, 189, 189);
    transition: .2s ease;
}
.contact-info:hover .contact-hover {
    width: 90%;
    height: 10%;
    transition: .3s ease;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-shadow:
    -1px -1px 0 rgb(189, 189, 189),
    1px -1px 0 rgb(189, 189, 189),
    -1px 1px 0 rgb(189, 189, 189),
    1px 1px 0 rgb(189, 189, 189);
    letter-spacing: 1px;
}

/* Side Nav Tester */

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right: -190px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 200px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: black; /* White text color */
    border-radius: 5px 0px 0px 5px; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
    text-shadow:
    -1px -1px 0 rgb(189, 189, 189),
    1px -1px 0 rgb(189, 189, 189),
    -1px 1px 0 rgb(189, 189, 189),
    1px 1px 0 rgb(189, 189, 189);
  }
  
  /* The about link: 20px from the top with a green background */
  #game {
    top: 16%;
    background-image: linear-gradient(to right, rgba(110, 35, 35, 0.7), rgba(36, 45, 130, 0.8));
    border-style: ridge;
    border-width: 1px;
    border-color: white;
  }
  
  #webpage {
    top: 23%;
    background-image: linear-gradient(to right, rgba(107, 61, 61, 0.7), rgba(45, 53, 128, 0.8));
    border-style: ridge;
    border-width: 1px;
    border-color: white;
  }
  
  #projects {
    top: 30%;
    background-image: linear-gradient(to right, rgba(105, 57, 57, 0.7), rgba(68, 74, 124, 0.8));
    border-style: ridge;
    border-width: 1px;
    border-color: white;
  }
  
  #contact {
    top: 37%;
    background-image: linear-gradient(to right, rgba(102, 66, 66, 0.7), rgba(80, 84, 122, 0.8));
    border-style: ridge;
    border-width: 1px;
    border-color: white;
  }